# User-specific stuff:
.idea/copyright/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/compiler.xml
.idea/ImproceSource.iml
.idea/misc.xml
.idea/modules.xml


# IntelliJ
/out/